In [11]:
pip install bs4 --quiet

Note: you may need to restart the kernel to use updated packages.

In [12]:
from bs4 import BeautifulSoup

In [13]:
import requests

In [14]:
products_url="https://www.flipkart.com/search?q=mobiles+under+20000&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_8_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+20000&requestId=db87adf1-4f6c-4884-b26e-6e9053b9f6f8&as-backfill=on"

In [15]:
response=requests.get(products_url)

In [16]:
response.status_code

200

In [17]:
page_contents = response.text

In [18]:
doc = BeautifulSoup(page_contents,'html.parser')

In [19]:
heading_class = "_4rR01T"
heading_tags = doc.findAll('div',class_= heading_class)
name_text = []

In [20]:
heading_tags[:4]

[<div class="_4rR01T">POCO M4 Pro (Cool Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)</div>,
 <div class="_4rR01T">POCO M4 Pro (Yellow, 128 GB)</div>]

In [21]:
price_class = "_30jeq3 _1_WHN1"
price_tags = doc.findAll('div', class_=price_class)
price_text = []

In [22]:
price_tags[:4]

[<div class="_30jeq3 _1_WHN1">₹16,549</div>,
 <div class="_30jeq3 _1_WHN1">₹14,999</div>,
 <div class="_30jeq3 _1_WHN1">₹14,999</div>,
 <div class="_30jeq3 _1_WHN1">₹16,549</div>]

In [23]:
stars_class= "_3LWZlK"
stars_tags = doc.findAll('div', class_=stars_class)
stars_text = [] 
stars_tags[:4]

[<div class="_3LWZlK">4.3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>,
 <div class="_3LWZlK">4.3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>,
 <div class="_3LWZlK">4.3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>,
 <div class="_3LWZlK">4.3<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div>]

In [16]:
reviews_class = "_2_R_DZ"
reviews_tags = doc.findAll('span', class_=reviews_class)
reviews_text = []
reviews_tags[:4]

[<span class="_2_R_DZ"><span><span>13,309 Ratings </span><span class="_13vcmD">&amp;</span><span> 954 Reviews</span></span></span>,
 <span class="_2_R_DZ"><span><span>1,05,262 Ratings </span><span class="_13vcmD">&amp;</span><span> 10,633 Reviews</span></span></span>,
 <span class="_2_R_DZ"><span><span>13,309 Ratings </span><span class="_13vcmD">&amp;</span><span> 954 Reviews</span></span></span>,
 <span class="_2_R_DZ"><span><span>10,841 Ratings </span><span class="_13vcmD">&amp;</span><span> 986 Reviews</span></span></span>]

In [17]:
url_class = "_1fQZEK"
base_url = "https://www.flipkart.com"
url_tags = doc.findAll('a', class_=url_class)
url_product = []
for i in range(len(url_tags)):
    url_product.append(base_url+url_tags[i]['href'])

In [18]:
for i in range(len(reviews_tags)):
        price_text.append(price_tags[i].text)
        name_text.append(heading_tags[i].text)
        stars_text.append(stars_tags[i].text)
        reviews_text.append(reviews_tags[i].text)
        reviews_text[i]=reviews_text[i].replace("\xa0"," ")

In [19]:
product_dict={'name':name_text,'price':price_text,'stars':stars_text,'reviews':reviews_text,'url':url_product}
import pandas as pd
products_df=pd.DataFrame(product_dict)
products_df[:4]

,name,price,stars,reviews,url
0,"REDMI Note 10T 5G (Graphite Black, 128 GB)","₹13,999",4.3,"13,309 Ratings & 954 Reviews",https://www.flipkart.com/redmi-note-10t-5g-gra...
1,"MOTOROLA G60 (Moonless, 128 GB)","₹14,999",4.2,"1,05,262 Ratings & 10,633 Reviews",https://www.flipkart.com/motorola-g60-moonless...
2,"REDMI Note 10T 5G (Metallic Blue, 128 GB)","₹13,999",4.3,"13,309 Ratings & 954 Reviews",https://www.flipkart.com/redmi-note-10t-5g-met...
3,"vivo T1 44W (Starry Sky, 128 GB)","₹15,999",4.4,"10,841 Ratings & 986 Reviews",https://www.flipkart.com/vivo-t1-44w-starry-sk...

In [20]:
products_df.to_csv('products.csv')